[Unit]
Description=Weather station

[Service]
WorkingDirectory=/home/pi
User=pi
ExecStart=python3 -u /home/pi/weather-station/python/weather-station.py

[Install]
WantedBy=multi-user.target